name: Build and upload conda packages

# Triggered a new tag starting with "v" is pushed
#on:
#  push:
#    tags:
#      - 'v*'
on: push

jobs:
  build:
    runs-on: ${{ matrix .os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        #os: [windows-latest]
        #os: [macOS-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true

    - name: Install dependencies
      run: |
        conda install conda-build anaconda-client -y

    - name: Bulid and upload
      env:
        ANACONDA_API_TOKEN: ${{secrets.ANACONDA_TOKEN}}
      run: |
        python3 --version
        conda config --set anaconda_upload yes
        conda build .conda
